<a href="https://colab.research.google.com/github/Subramaniya-pillai/data_engineering/blob/main/sales_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
!pip install pandas pyspark dask

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: dask in /usr/local/lib/python3.11/dist-packages (2024.12.1)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: click>=8.1 in /usr/local/lib/python3.11/dist-packages (from dask) (8.1.8)
Requirement already satisfied: cloudpickle>=3.0.0 in /usr/local/lib/python3.11/dist-packages (from dask) (3.1.1)
Requirement already satisfied: fsspec>=2021.09.0 in /usr/local/lib/python3.11/dist-packages (from dask) (2024.10.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from dask) (24.2)
Requirement already satisfied: partd>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from dask) (1.4.2)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.11/dist-packages (from dask) (6.0.2)
Requirement already satisfied: toolz>=0.10.0 in /usr/local/lib/python3.11/dist-packages (from dask) (0.12.1)
Requirement already satisfied: importlib_metadata>=4.13.0 in /usr/local/lib/python3.11/dist-packages (from dask) (8.6.1)
Requirement already satisfied: zipp>=3.20 in /usr/local/lib/python3.11/dist-packages (from importlib_metadata>=4.13.0->dask) (3.21.0)
Requirement already satisfied: locket in /usr/local/lib/python3.11/dist-packages (from partd>=1.4.0->dask) (1.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [14]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SalesData").getOrCreate()

# Load CSV
df_spark = spark.read.csv('/content/drive/MyDrive/Sales_Dataset__500_Records_.csv', header=True, inferSchema=True)

# First 5 records
df_spark.show(5)

# Last 5 records (not direct; use order + limit)
df_spark.orderBy("OrderID", ascending=False).show(5)

# Schema
df_spark.printSchema()

+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
|OrderID|  CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|            City|PaymentMode|CustomerSince|
+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
|   2824| Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|    Lake Joyside|Credit Card|   2020-10-15|
|   7912|  Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|   New Jamesside|     Wallet|   2022-03-15|
|   4611|  Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|    Lake Roberto|     Wallet|   2021-08-07|
|   3547|Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15|West Melanieview|     Wallet|   2020-08-08|
|   8527|  Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|       Mariastad|       Cash|   2022-11-15|
+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
only showing top 5 rows

+-------+-----------------+---------------+------+----------+--------------+--------+-----------+-----------+-------------+
|OrderID|     CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|       City|PaymentMode|CustomerSince|
+-------+-----------------+---------------+------+----------+--------------+--------+-----------+-----------+-------------+
|   9996|    Brandon Munoz|           Toys|839.38|2024-09-25|     Delivered|    0.08| Pamelaside|Credit Card|   2021-04-19|
|   9992|   Joshua Roberts|          Books|960.97|2023-07-25|       Pending|     0.2| Coreyshire|     Wallet|   2022-06-28|
|   9970|Elizabeth Goodman|           Toys|821.02|2025-05-04|     Cancelled|    0.29| Jasonhaven|       Cash|   2021-01-09|
|   9962|   Vanessa Morgan|           Toys|701.01|2024-09-21|       Pending|    0.06|Bushchester|       Cash|   2023-03-14|
|   9920|       James Hall|           Toys| 280.8|2024-05-25|     Cancelled|    0.28|Ericborough|     Wallet|   2020-11-24|
+-------+-----------------+---------------+------+----------+--------------+--------+-----------+-----------+-------------+
only showing top 5 rows

root
 |-- OrderID: integer (nullable = true)
 |-- CustomerName: string (nullable = true)
 |-- ProductCategory: string (nullable = true)
 |-- Amount: double (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- DeliveryStatus: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- City: string (nullable = true)
 |-- PaymentMode: string (nullable = true)
 |-- CustomerSince: date (nullable = true)

# **2. Selection, Renaming, and Filtering**

In [23]:
df_selected = df_spark.select("OrderID", "CustomerName", "Amount")
df_renamed = df_selected.withColumnRenamed("Amount", "OrderAmount")
df_renamed.show()  #  Shows the renamed DataFrame

df_filtered_amount = df_spark.filter(col("Amount") > 500)
df_filtered_amount.show()  #  Show filtered result

df_filtered_city = df_spark.filter(col("City") == "New York")
df_filtered_city.show()  #  Show filtered result

+-------+------------------+-----------+
|OrderID|      CustomerName|OrderAmount|
+-------+------------------+-----------+
|   2824|     Donald Walker|     783.04|
|   7912|      Brandon Hall|      905.0|
|   4611|      Donald Booth|     657.96|
|   3547|    Phillip Garcia|     606.89|
|   8527|      Valerie Gray|      77.87|
|   4150|       Amber Perez|     352.37|
|   5554|        Roy Martin|     148.33|
|   2169|    Carolyn Daniel|      14.09|
|   6313|       Patty Perez|      79.83|
|   6155|Jonathan Wilkerson|     882.68|
|   9830|       Kevin Hurst|     870.55|
|   9085| Anthony Rodriguez|     921.73|
|   2040|     Kyle Mcdonald|     327.52|
|   6573|    Jeffrey Chavez|     676.02|
|   2743|  Elizabeth Fowler|      47.06|
|   9837|     Tammy Sellers|      46.15|
|   6038|     David Bradley|     348.51|
|   3060|       John Pierce|     362.09|
|   4295|   Jennifer Powers|     684.26|
|   5061|    George Chapman|     251.89|
+-------+------------------+-----------+
only showing top 20 rows

+-------+------------------+---------------+------+----------+---------------+--------+-----------------+-----------+-------------+------------------+-----------------+----+-----+------------------+--------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate| DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|       FinalAmount|HighValueCustomer|Year|Month|      LoyaltyYears|OrderTag|
+-------+------------------+---------------+------+----------+---------------+--------+-----------------+-----------+-------------+------------------+-----------------+----+-----+------------------+--------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26|       Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|           665.584|               No|2024|   12| 4.635616438356164|  Medium|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|Order Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|            877.85|              Yes|2024|    9| 3.221917808219178|     Big|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|       Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|          651.3804|               No|2025|    1| 3.824657534246575|  Medium|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|       Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|          515.8565|               No|2024|    3| 4.821917808219178|  Medium|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|Order Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20| 644.3563999999999|              Yes|2024|   10| 3.956164383561644|     Big|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|      Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|           679.029|              Yes|2024|    4|2.8383561643835615|     Big|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|Order Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15| 894.0781000000001|              Yes|2024|   10|2.4684931506849317|     Big|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|Order Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|          547.5762|               No|2024|   12|2.8465753424657536|  Medium|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|Order Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|          540.5654|               No|2024|    3| 4.493150684931507|  Medium|
|   1964|      Taylor Heath|           Toys| 578.5|2023-07-28|Order Cancelled|    0.01|   West Elizabeth|       Cash|   2021-04-30|           572.715|               No|2023|    7| 4.095890410958904|  Medium|
|   9834|    Timothy Duncan|    Electronics|944.55|2024-06-04|Order Cancelled|    0.07|      Port Thomas|     Wallet|   2022-02-24| 878.4314999999999|              Yes|2024|    6|3.2739726027397262|     Big|
|   3296|     Donald Wright|        Fashion|579.99|2025-05-20|Order Cancelled|    0.25|South Lindseyside|     Wallet|   2020-11-01|          434.9925|               No|2025|    5| 4.589041095890411|  Medium|
|   4502|  Stephanie Martin|    Electronics|656.32|2023-06-04|        Pending|     0.2|       Bakermouth|Credit Card|   2021-08-19|           525.056|               No|2023|    6| 3.791780821917808|  Medium|
|   1931|      Angela Lopez|    Electronics|686.21|2024-09-07|Order Cancelled|    0.17|Lake Michellefurt|        UPI|   2020-12-05|          569.5543|               No|2024|    9| 4.495890410958904|  Medium|
|   5033|     Amanda Miller|           Toys|552.76|2024-10-25|        Pending|    0.21|     Sarahborough|     Wallet|   2023-04-08|436.68039999999996|               No|2024|   10|2.1561643835616437|  Medium|
|   6147|      James Powers|           Toys|561.91|2024-01-22|Order Cancelled|    0.05|      Stewartland|Credit Card|   2020-06-16|          533.8145|               No|2024|    1| 4.967123287671233|  Medium|
|   2127|      Jaclyn Moore|      Groceries|933.32|2025-03-11|       Returned|    0.01|      Cherylhaven|       Cash|   2020-06-14|          923.9868|              Yes|2025|    3| 4.972602739726027|     Big|
|   5905|   Ashley Humphrey|          Books|844.87|2023-12-25|        Pending|    0.28|  North Juliaberg|       Cash|   2021-07-30| 608.3063999999999|              Yes|2023|   12|3.8465753424657536|     Big|
|   2512|   Sandra Williams|           Toys|630.21|2024-02-17|        Pending|    0.08|        Lake Tina|        UPI|   2021-02-08| 579.7932000000001|               No|2024|    2| 4.317808219178082|  Medium|
|   8239|     Jessica Smith|          Books|610.08|2023-07-31|      Delivered|    0.09|        New Barry|        UPI|   2021-12-27|          555.1728|               No|2023|    7|3.4356164383561643|  Medium|
+-------+------------------+---------------+------+----------+---------------+--------+-----------------+-----------+-------------+------------------+-----------------+----+-----+------------------+--------+
only showing top 20 rows

+-------+------------+---------------+------+---------+--------------+--------+----+-----------+-------------+-----------+-----------------+----+-----+------------+--------+
|OrderID|CustomerName|ProductCategory|Amount|OrderDate|DeliveryStatus|Discount|City|PaymentMode|CustomerSince|FinalAmount|HighValueCustomer|Year|Month|LoyaltyYears|OrderTag|
+-------+------------+---------------+------+---------+--------------+--------+----+-----------+-------------+-----------+-----------------+----+-----+------------+--------+
+-------+------------+---------------+------+---------+--------------+--------+----+-----------+-------------+-----------+-----------------+----+-----+------------+--------+

# **3. Data Manipulation**

In [24]:
from pyspark.sql.functions import col, expr, when

# Add FinalAmount = Amount - (Amount * Discount)
df_spark = df_spark.withColumn("FinalAmount", col("Amount") - (col("Amount") * col("Discount")))

# Sort by FinalAmount descending
df_sorted = df_spark.orderBy(col("FinalAmount").desc())
df_sorted.select("OrderID", "Amount", "Discount", "FinalAmount").show()

# Replace "Cancelled" with "Order Cancelled" in DeliveryStatus
df_updated = df_sorted.withColumn(
    "DeliveryStatus",
    when(col("DeliveryStatus") == "Cancelled", "Order Cancelled").otherwise(col("DeliveryStatus"))
)

# Show updated delivery statuses
df_updated.select("OrderID", "DeliveryStatus").show()

+-------+------+--------+-----------------+
|OrderID|Amount|Discount|      FinalAmount|
+-------+------+--------+-----------------+
|   5573|981.05|    0.02|          961.429|
|   8474|968.91|    0.02|         949.5318|
|   8889| 998.3|    0.06|938.4019999999999|
|   2127|933.32|    0.01|         923.9868|
|   9806|993.17|    0.07|         923.6481|
|   5593|961.35|    0.05|         913.2825|
|   2120|948.84|    0.04|         910.8864|
|   5949|918.14|    0.01|908.9585999999999|
|   1422| 973.2|    0.07|          905.076|
|   2904|922.29|    0.02|         903.8442|
|   7566|899.31|     0.0|           899.31|
|   7511|932.21|    0.04|         894.9216|
|   9085|921.73|    0.03|894.0781000000001|
|   1436|978.96|    0.09|         890.8536|
|   6008|903.71|    0.02|         885.6358|
|   9834|944.55|    0.07|878.4314999999999|
|   8253|998.21|    0.12|         878.4248|
|   7912| 905.0|    0.03|           877.85|
|   1654|903.78|    0.03|         876.6666|
|   9239|897.41|    0.04|         861.5136|
+-------+------+--------+-----------------+
only showing top 20 rows

+-------+---------------+
|OrderID| DeliveryStatus|
+-------+---------------+
|   5573|Order Cancelled|
|   8474|Order Cancelled|
|   8889|Order Cancelled|
|   2127|       Returned|
|   9806|Order Cancelled|
|   5593|       Returned|
|   2120|       Returned|
|   5949|        Pending|
|   1422|       Returned|
|   2904|       Returned|
|   7566|      Delivered|
|   7511|Order Cancelled|
|   9085|Order Cancelled|
|   1436|Order Cancelled|
|   6008|        Pending|
|   9834|Order Cancelled|
|   8253|Order Cancelled|
|   7912|Order Cancelled|
|   1654|Order Cancelled|
|   9239|Order Cancelled|
+-------+---------------+
only showing top 20 rows

# **4. Aggregations and GroupBy**

In [17]:
# Count of orders by DeliveryStatus
df_spark.groupBy("DeliveryStatus").count().show()

# Average Amount by ProductCategory
df_spark.groupBy("ProductCategory").avg("Amount").show()

# Group by City and show total sales
df_spark.groupBy("City").sum("Amount").show()

+---------------+-----+
| DeliveryStatus|count|
+---------------+-----+
|       Returned|  117|
|      Delivered|  119|
|Order Cancelled|  149|
|        Pending|  115|
+---------------+-----+

+---------------+------------------+
|ProductCategory|       avg(Amount)|
+---------------+------------------+
|        Fashion| 500.6308235294116|
|      Groceries|459.51786407766957|
|    Electronics|           551.745|
|          Books| 568.6003773584907|
|           Toys| 534.2837499999999|
+---------------+------------------+

+----------------+-----------+
|            City|sum(Amount)|
+----------------+-----------+
|     Ramseymouth|     761.06|
|East Edwardshire|     291.26|
|      Thomasberg|     882.68|
|     Laurenville|     383.26|
| South Colinstad|     786.27|
|    Lake Douglas|     975.09|
|   Williamsmouth|      10.78|
|      Gordonport|     514.99|
|  West Dawnmouth|       12.8|
|        Seanbury|     814.39|
|     Sheilaville|     981.05|
|       Mollybury|     222.02|
|       Lisaville|      45.69|
| Lake Jerrymouth|     404.01|
|       Perezfort|     917.55|
|Port Nicoleshire|     133.78|
|  South Samantha|     229.46|
|     Port Willie|     788.13|
|     Waltersfort|     552.81|
|       Youngbury|     372.95|
+----------------+-----------+
only showing top 20 rows

# 5. Null Handling & **Update**

In [25]:
from pyspark.sql.functions import when, col, lit

# Inject nulls in City where OrderID < 10
df_with_nulls = df_spark.withColumn("City", when(col("OrderID") < 10, lit(None)).otherwise(col("City")))

# Fill null values in City with "Unknown"
df_filled = df_with_nulls.fillna({"City": "Unknown"})
df_filled.select("OrderID", "City").show()

# Drop rows where City is still null (if any remain)
df_dropped = df_with_nulls.dropna(subset=["City"])
df_dropped.select("OrderID", "City").show()

# Tag high-value customers: Amount > 800
df_tagged = df_filled.withColumn("CustomerTag", when(col("Amount") > 800, "High-Value").otherwise("Regular"))
df_tagged.select("OrderID", "Amount", "CustomerTag").show()

+-------+-----------------+
|OrderID|             City|
+-------+-----------------+
|   2824|     Lake Joyside|
|   7912|    New Jamesside|
|   4611|     Lake Roberto|
|   3547| West Melanieview|
|   8527|        Mariastad|
|   4150|  Port Jesseville|
|   5554|      Lake Joseph|
|   2169|         Grayside|
|   6313|      Richardland|
|   6155|       Thomasberg|
|   9830|      Jeffreyberg|
|   9085|        Port Erin|
|   2040|Lake Jenniferside|
|   6573|      Teresaburgh|
|   2743|   East Nathaniel|
|   9837|       Tracyville|
|   6038|    Lake Toddland|
|   3060|       Brandtside|
|   4295|         Lammouth|
|   5061|       North Chad|
+-------+-----------------+
only showing top 20 rows

+-------+-----------------+
|OrderID|             City|
+-------+-----------------+
|   2824|     Lake Joyside|
|   7912|    New Jamesside|
|   4611|     Lake Roberto|
|   3547| West Melanieview|
|   8527|        Mariastad|
|   4150|  Port Jesseville|
|   5554|      Lake Joseph|
|   2169|         Grayside|
|   6313|      Richardland|
|   6155|       Thomasberg|
|   9830|      Jeffreyberg|
|   9085|        Port Erin|
|   2040|Lake Jenniferside|
|   6573|      Teresaburgh|
|   2743|   East Nathaniel|
|   9837|       Tracyville|
|   6038|    Lake Toddland|
|   3060|       Brandtside|
|   4295|         Lammouth|
|   5061|       North Chad|
+-------+-----------------+
only showing top 20 rows

+-------+------+-----------+
|OrderID|Amount|CustomerTag|
+-------+------+-----------+
|   2824|783.04|    Regular|
|   7912| 905.0| High-Value|
|   4611|657.96|    Regular|
|   3547|606.89|    Regular|
|   8527| 77.87|    Regular|
|   4150|352.37|    Regular|
|   5554|148.33|    Regular|
|   2169| 14.09|    Regular|
|   6313| 79.83|    Regular|
|   6155|882.68| High-Value|
|   9830|870.55| High-Value|
|   9085|921.73| High-Value|
|   2040|327.52|    Regular|
|   6573|676.02|    Regular|
|   2743| 47.06|    Regular|
|   9837| 46.15|    Regular|
|   6038|348.51|    Regular|
|   3060|362.09|    Regular|
|   4295|684.26|    Regular|
|   5061|251.89|    Regular|
+-------+------+-----------+
only showing top 20 rows

# **6. Date & Time Functions**

In [26]:
from pyspark.sql.functions import to_date, year, month, current_date, datediff, col

# Convert strings to proper date format
df_spark = df_spark.withColumn("OrderDate", to_date(col("OrderDate"))) \
                   .withColumn("CustomerSince", to_date(col("CustomerSince")))

# Extract year and month from OrderDate
df_spark = df_spark.withColumn("Year", year(col("OrderDate"))) \
                   .withColumn("Month", month(col("OrderDate")))

# Calculate LoyaltyYears = difference between today and CustomerSince
df_spark = df_spark.withColumn("LoyaltyYears", (datediff(current_date(), col("CustomerSince")) / 365).cast("int"))

# Show key output
df_spark.select("CustomerName", "CustomerSince", "LoyaltyYears", "Year", "Month").show()

+------------------+-------------+------------+----+-----+
|      CustomerName|CustomerSince|LoyaltyYears|Year|Month|
+------------------+-------------+------------+----+-----+
|     Donald Walker|   2020-10-15|           4|2024|   12|
|      Brandon Hall|   2022-03-15|           3|2024|    9|
|      Donald Booth|   2021-08-07|           3|2025|    1|
|    Phillip Garcia|   2020-08-08|           4|2024|    3|
|      Valerie Gray|   2022-11-15|           2|2024|    8|
|       Amber Perez|   2022-01-13|           3|2024|    1|
|        Roy Martin|   2023-04-29|           2|2024|    3|
|    Carolyn Daniel|   2021-05-09|           4|2023|   10|
|       Patty Perez|   2021-04-25|           4|2023|    6|
|Jonathan Wilkerson|   2021-06-20|           3|2024|   10|
|       Kevin Hurst|   2022-08-02|           2|2024|    4|
| Anthony Rodriguez|   2022-12-15|           2|2024|   10|
|     Kyle Mcdonald|   2021-07-21|           3|2023|   12|
|    Jeffrey Chavez|   2022-07-30|           2|2024|   12|
|  Elizabeth Fowler|   2021-02-07|           4|2024|    9|
|     Tammy Sellers|   2021-12-17|           3|2024|    9|
|     David Bradley|   2022-09-07|           2|2023|    8|
|       John Pierce|   2023-05-09|           2|2023|   12|
|   Jennifer Powers|   2020-12-06|           4|2024|    3|
|    George Chapman|   2023-02-07|           2|2023|   11|
+------------------+-------------+------------+----+-----+
only showing top 20 rows

# **7. Joins and Unions**

In [20]:
# Create a DataFrame for city-region mapping
region_data = [("New York", "East"), ("Los Angeles", "West"), ("Chicago", "Central")]
region_df = spark.createDataFrame(region_data, ["City", "Region"])

# Inner and left joins
df_inner = df_spark.join(region_df, on="City", how="inner")
df_left = df_spark.join(region_df, on="City", how="left")

# Union of two datasets (e.g., split by year)
df_2023 = df_spark.filter(col("Year") == 2023)
df_2024 = df_spark.filter(col("Year") == 2024)
df_union = df_2023.unionByName(df_2024)

# **8. Complex JSON Simulation**

In [21]:
from pyspark.sql.functions import to_json, struct, from_json, schema_of_json

# Convert each row to a JSON string
df_json = df_spark.withColumn("order_json", to_json(struct([col(c) for c in df_spark.columns])))

# Infer schema from one sample row
sample_json = df_json.select("order_json").first()["order_json"]
inferred_schema = schema_of_json(sample_json)

# Parse the JSON string back into a struct column
df_parsed = df_json.withColumn("parsed", from_json("order_json", inferred_schema))

# Access fields inside the parsed column
df_parsed.select("parsed.OrderID", "parsed.CustomerName", "parsed.Amount").show(5)

+-------+--------------+------+
|OrderID|  CustomerName|Amount|
+-------+--------------+------+
|   2824| Donald Walker|783.04|
|   7912|  Brandon Hall| 905.0|
|   4611|  Donald Booth|657.96|
|   3547|Phillip Garcia|606.89|
|   8527|  Valerie Gray| 77.87|
+-------+--------------+------+
only showing top 5 rows

# **9. Applying Functions**

In [27]:
from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType

# Define UDF for order tagging
def tag_order(amount):
    if amount is None:
        return "Unknown"
    elif amount > 800:
        return "Big"
    elif amount > 400:
        return "Medium"
    else:
        return "Small"

# Register UDF
tag_order_udf = udf(tag_order, StringType())

# Apply UDF to create OrderTag column
df_spark = df_spark.withColumn("OrderTag", tag_order_udf(col("Amount")))

# Show result
df_spark.select("OrderID", "Amount", "OrderTag").show()

+-------+------+--------+
|OrderID|Amount|OrderTag|
+-------+------+--------+
|   2824|783.04|  Medium|
|   7912| 905.0|     Big|
|   4611|657.96|  Medium|
|   3547|606.89|  Medium|
|   8527| 77.87|   Small|
|   4150|352.37|   Small|
|   5554|148.33|   Small|
|   2169| 14.09|   Small|
|   6313| 79.83|   Small|
|   6155|882.68|     Big|
|   9830|870.55|     Big|
|   9085|921.73|     Big|
|   2040|327.52|   Small|
|   6573|676.02|  Medium|
|   2743| 47.06|   Small|
|   9837| 46.15|   Small|
|   6038|348.51|   Small|
|   3060|362.09|   Small|
|   4295|684.26|  Medium|
|   5061|251.89|   Small|
+-------+------+--------+
only showing top 20 rows